<h2>Home</h2>
<main id="main-content">
    <div id="post-count">Post Count: <a id="post-count-amount">{{results.length}}</a> </div>
    <div id="post-list" class="post-list">
       
        {{#each results}}
            <div class="post-card">
                <img class="post-img" src=" /{{this.thumbnail}}" >
                <div class="post-info">
                    <p>{{this.title}}</p>
                    <p>{{this.description}}</p>
                    <a href="/posts/{{this.id}}"> Details</a>
                </div>
                
            </div>
        {{/each}}
      
     </div>
    
</main>